*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:rgb(83, 83, 105)

}

.datos{
    background-color: rgb(200, 198, 224);

}





.datos{
    width: 80vh;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    border-radius: 20px;
}

  div input{
    
    height: 30px;
    border-radius: 10px;
    width: 60vh;
    text-align: center;
}

div button{
    width: 50vh;
    height: 30px;
    border:black solid;
    border-radius: 10px;
}
